body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #e6f5ff; /* Light blue background color */
  }
  
  .container {
    width: 90% !important;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive; /* Use the Shadows Into Light font */
    font-size: 3rem;
    color: #ff69b4; /* Hot pink color */
    text-shadow: 2px 2px #ffccff; /* Slight text shadow effect */
  }
  
  label, input {
    margin: 0.2rem;
    width: auto;
  }
  
  #button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  
  #calculateButton,
  #clearButton {
    margin-top: 0.5rem;
    background-color: #ff80df; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  
  #calculateButton:hover,
  #clearButton:hover {
    background-color: #ff33cc;
  }
  
  #result {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    color: #ff69b4; 
    text-shadow: 2px 2px #ffccff; 
    background-color: #fff; 
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  